<div class="left-side-menu">
    <div class="slimscroll-menu">
        <!-- LOGO -->
        <a href="{:url('admin/Index/index')}" class="logo text-center mb-4">
                <span class="logo-lg">
                    <img src="__PUBLIC__/admin/images/logo.png" alt="" height="20">
                </span>
            <span class="logo-sm">
                    <img src="__PUBLIC__/admin/images/logo-sm.png" alt="" height="24">
                </span>
        </a>

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <ul class="metismenu" id="side-menu">
                <li class="menu-title">导航</li>
                <li>
                    <a href="{:url('admin/index/index')}">
                        <i class="fe-airplay"></i>
                        <span> 主页 </span>
                    </a>
                </li>
                <li>
                    <a href="{:url('admin/plant_info/index')}">
                        <i class="mdi mdi-table-search"></i>
                        <span>数据管理</span>
                    </a>
                </li>
                <li>
                    <a href="{:url('admin/plant_info/manage')}">
                        <i class="mdi mdi-pencil"></i>
                        <span>数据修改</span>
                    </a>
                </li>
                <li>
                    <a href="{:url('admin/chart/index')}">
                        <i class="mdi mdi-chart-arc"></i>
                        <span>数据分析</span>
                    </a>
                </li>
                <li>
                    <a href="{:url('admin/admin/index')}">
                        <i class="mdi mdi-account"></i>
                        <span>用户管理</span>
                    </a>
                </li>
                <li>
                    <a href="{:url('admin/bug/index')}">
                        <i class="mdi mdi-bug"></i>
                        <span>反馈管理</span>
                    </a>
                </li>
                <li>
                    <a href="{:url('admin/admin/setting')}">
                        <i class="fe-settings"></i>
                        <span>设置</span>
                    </a>
                </li>
            </ul>

        </div>
        <!-- End Sidebar -->

        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>