<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description"/>
    <meta content="Coderthemes" name="author"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>后台管理</title>
    <!-- App favicon -->
    <link rel="shortcut icon" href="__PUBLIC__/admin/images/favicon.ico">

    <link href="__PUBLIC__/admin/css/datatables.bootstrap4.css" rel="stylesheet" type="text/css"/>
    <link href="__PUBLIC__/admin/css/responsive.bootstrap4.css" rel="stylesheet" type="text/css"/>

    <!-- App css -->
    <link href="__PUBLIC__/admin/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="__PUBLIC__/admin/css/icons.min.css" rel="stylesheet" type="text/css"/>
    <link href="__PUBLIC__/admin/css/app.min.css" rel="stylesheet" type="text/css"/>
    <link href="__PUBLIC__/admin/css/style.css" rel="stylesheet" type="text/css"/>
    <script src="__PUBLIC__/admin/js/style.js"></script>

</head>

<body>
<div id="wrapper">

    {include file="Public/sidemenu"/}
    <!--    <include src="sidemenu.html"></include>-->

    <div class="content-page">
        <div class="content">

            {include file="Public/header"/}
            <!--            <include src="header.html"></include>-->

            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="{:url('admin/Index/index')}">后台</a></li>
                                    <li class="breadcrumb-item active">数据修改</li>
                                </ol>
                            </div>
                            <h4 class="page-title">数据修改</h4>
                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <form>
                                    <div class="row mb-3">
                                        <h3 class="col-sm-2 text-center">植物信息</h3>
                                        <div class="text-right">
                                            <button type="submit" class="btn btn-primary mx-1" data-toggle="modal"
                                                    data-target="#addcontactmodal"><i class="mdi mdi-plus mr-2"></i>新 建
                                            </button>
                                            <button type="submit" class="btn btn-success mx-1"><i
                                                    class="mdi mdi-content-save mr-2"></i>保 存
                                            </button>
                                            <button type="button" class="btn btn-danger mx-1"><i
                                                    class="mdi mdi-delete mr-2"></i>删 除
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="col-sm-2">名 称:</label>
                                                <input type="text" class="my-form col-sm-9"
                                                       value="{$plantinfo->getData('plantname')}" required>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2">别 名:</label>
                                                <input type="text" class="my-form col-sm-9"
                                                       value="{$plantinfo->getData('alias')}">
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2">学 名:</label>
                                                <input type="text" class="my-form col-sm-9"
                                                       value="{$plantinfo->getData('sciname')}" required>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2">分 布:</label>
                                                <input type="text" class="my-form col-sm-9"
                                                       value="{$plantinfo->getData('area')}">
                                                <div class="form-group">
                                                    <div class="col-lg-12">
                                                        {volist name="map" id="map"}
                                                        <input type="checkbox" name="map[]"
                                                               id="map_name_{$map->getData('mapname')}"
                                                               value="{$map->getData('mapname')}" {eq name="$map->getIsChecked($plantinfo)" value="true"}checked="checked"{/eq}/>
                                                        <label for="map_name_{$map->getData('mapname')}" style="width: 84px">{$map->getData('mapname')}</label>
                                                        <!--                                                        <input type="checkbox"><label>北苑</label>-->
                                                        <!--                                                        <input type="checkbox"><label>南苑</label>-->
                                                        <!--                                                        <input type="checkbox"><label>牌坊</label>-->
                                                        <!--                                                        <input type="checkbox"><label>图书馆</label>-->
                                                        <!--&lt;!&ndash;                                                    </div>&ndash;&gt;-->
                                                        <!--&lt;!&ndash;                                                    <div class="col-sm-12">&ndash;&gt;-->
                                                        <!--                                                        <input type="checkbox"><label>教学楼</label>-->
                                                        <!--                                                        <input type="checkbox"><label>理科楼</label>-->
                                                        <!--                                                        <input type="checkbox"><label>行政楼</label>-->
                                                        <!--                                                        <input type="checkbox"><label>逸夫楼</label>-->
                                                        {/volist}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2">科 :</label>
                                                <select class="custom-select col-sm-6" name="familyid" id="familyid" required>
                                                    <option value="0">{$plantclass->getData('familyname')}</option>
                                                    {volist name="family" id="data2"}
                                                    <option value="{$data2.familyid}">{$data2.name}</option>
                                                    {/volist}
                                                </select>
<!--                                                <button type="submit" class="btn btn-primary ml-4">新建 科</button>-->
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2">属 :</label>
                                                <select class="custom-select col-sm-6" name="genusid" id="genusid" required>
                                                    <option selected>{$plantclass->getData('genusname')}</option>
                                                </select>
<!--                                                <button type="submit" class="btn btn-primary ml-4">新建 属</button>-->
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group" align="center">
                                                <img src="__PUBLIC__/admin/images/avatar-1.jpg" class="mb-4">
                                                <div class="form-group row">
                                                    <label class="col-sm-2">图 片:</label>
                                                    <input type="file" class="form-control col-sm-10">
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-2">模 型:</label>
                                                    <input type="file" class="form-control col-sm-10"
                                                           value="{$plantinfo->getData('models')}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2">介 绍:</label>
                                                <textarea class="form-control col-sm-10" rows="10">{$plantinfo->getData('introduce')}</textarea>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div> <!-- content -->

    <!-- Footer Start -->
    {include file="Public/footer"/}
    <!--    <include src="footer.html"></include>-->

</div>

<!--</div>-->

<div class="modal fade" id="addcontactmodal" tabindex="-1" role="dialog" aria-labelledby="myCenterModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myCenterModalLabel">添加植物信息</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body p-4">
                <form action="insert" role="form" method="post">
                    <div class="form-group row">
                        <label for="plantname" class="col-sm-2">名 称:</label>
                        <input type="text" class="my-form col-sm-10" name="plantname" id="plantname"
                               placeholder="请输入植物名" required>
                    </div>
                    <div class="form-group row">
                        <label for="alias" class="col-sm-2">别 名:</label>
                        <input type="text" class="my-form col-sm-10" name="alias" id="alias" placeholder="请输入别名">
                    </div>
                    <div class="form-group row">
                        <label for="sciname" class="col-sm-2">学 名:</label>
                        <input type="text" class="my-form col-sm-10" name="sciname" id="sciname"
                               placeholder="请输入学名">
                    </div>
                    <div class="form-group row">
                        <label for="area" class="col-sm-2">分 布:</label>
                        <input type="text" class="my-form col-sm-10" name="area" id="area" placeholder="分布备注">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="checkbox" name="map[]" id="map1" value="北苑"><label>北苑</label>
                                <input type="checkbox" name="map[]" id="map2" value="南苑"><label>南苑</label>
                                <input type="checkbox" name="map[]" id="map3" value="牌坊"><label>牌坊</label>
                                <input type="checkbox" name="map[]" id="map4" value="图书馆"><label>图书馆</label>
                            </div>
                            <div class="col-sm-12">
                                <input type="checkbox" name="map[]" id="map5" value="教学楼"><label>教学楼</label>
                                <input type="checkbox" name="map[]" id="map6" value="理科楼"><label>理科楼</label>
                                <input type="checkbox" name="map[]" id="map7" value="行政楼"><label>行政楼</label>
                                <input type="checkbox" name="map[]" id="map8" value="逸夫楼"><label>逸夫楼</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 ">科 :</label>
                        <select class="custom-select col-sm-10" name="family_id" id="family_id" required>
                            <option value="0">请选择科</option>
                            {volist name="family" id="data1"}
                            <option value="{$data1.familyid}">{$data1.name}</option>
                            {/volist}
                        </select>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 ">属 :</label>
                        <select class="custom-select col-sm-10" name="genus_id" id="genus_id" required>
                            <option value="0">请选择属</option>
                        </select>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">图 片:</label>
                        <input type="file" class="form-control col-sm-10" name="pic" id="pic">
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">模 型:</label>
                        <input type="file" class="form-control col-sm-10" name="models" id="models">
                    </div>
                    <div class="form-group row">
                        <label class="col-2">介 绍:</label>
                        <textarea class="form-control col-sm-10" rows="5" name="introduce" id="introduce"></textarea>
                    </div>
                    <div class="text-right">
                        <button type="submit" class="btn btn-success waves-effect waves-light">保存</button>
                        <button type="button" class="btn btn-light" data-dismiss="modal">取消</button>
                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- App js -->
<script src="__PUBLIC__/admin/js/vendor.min.js"></script>
<script src="__PUBLIC__/admin/js/app.min.js"></script>

<!-- third party js -->
<script src="__PUBLIC__/admin/js/datatables.init.js"></script>
<script src="__PUBLIC__/admin/js/jquery.datatables.js"></script>
<script src="__PUBLIC__/admin/js/datatables.bootstrap4.js"></script>
<script src="__PUBLIC__/admin/js/datatables.responsive.min.js"></script>
<script src="__PUBLIC__/admin/js/responsive.bootstrap4.min.js"></script>

<script src="__PUBLIC__/admin/js/datatables.buttons.min.js"></script>
<script src="__PUBLIC__/admin/js/buttons.bootstrap4.min.js"></script>
<script src="__PUBLIC__/admin/js/buttons.html5.min.js"></script>
<script src="__PUBLIC__/admin/js/buttons.flash.min.js"></script>
<script src="__PUBLIC__/admin/js/buttons.print.min.js"></script>
<script src="__PUBLIC__/admin/js/datatables.keytable.min.js"></script>
<script src="__PUBLIC__/admin/js/datatables.select.min.js"></script>
<!-- third party js ends -->

<script>
    $('#family_id').change(function () {
        $familyid = $('#family_id').val();
        $.ajax({
            type: "POST",
            url: "{:url('admin/PlantInfo/getGenus')}",
            dataType: "json",
            data: 'familyid=' + $familyid,
            success: function (data) {
                $("#genus_id").empty();
                var count = data.length;
                var i = 0;
                var b = "";
                for (i = 0; i < count; i++) {
                    b += "<option value='" + data[i].genusid + "'>" + data[i].name + "</option>";
                }
                $("#genus_id").html(b);
            }
        });
    });

    $('#familyid').change(function () {
        $familyid = $('#familyid').val();
        $.ajax({
            type: "POST",
            url: "{:url('admin/PlantInfo/getGenus')}",
            dataType: "json",
            data: 'familyid=' + $familyid,
            success: function (data) {
                $("#genusid").empty();
                var count = data.length;
                var i = 0;
                var b = "";
                for (i = 0; i < count; i++) {
                    b += "<option value='" + data[i].genusid + "'>" + data[i].name + "</option>";
                }
                $("#genusid").html(b);
            }
        });
    });
</script>
</body>