<section>
        <!--Header-->
        <nav class="navbar navbar-expand-md navbar-light" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                <a class="navbar-brand" href="{:url('index/Index/index')}"><i class="fa fa-html5"></i> 主页</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#NavbarCollapse"
                        aria-expanded="false" style="">
                    <span class="navbar-toggler-icon"></span>
<!--                    <span class="icon-bar"></span>-->
<!--                    <span class="icon-bar"></span>-->
<!--                    <span class="icon-bar"></span>-->
                </button>
            </div>
                <!--Navbar-->
                <div class="collapse navbar-collapse justify-content-end" id="NavbarCollapse">
                    <ul class="navbar-nav ml-auto main-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{:url('index/Plant/index')}">植物检索</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{:url('index/Map/index')}">植物分布</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{:url('index/Bug/index')}">问题反馈</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{:url('index/Index/about')}">关于</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
</section>
