<section class="bg text-center hero-area overly" id="Searhcing">
    <!-- Container Start -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content-block" id="content-sec3">
                    <h1>校园植物平台</h1>
                    <p class="d-none d-md-block">快捷的植物信息查询  </p>
                    <br>
                </div>

                <!-- Advance Search -->
                <div class="advance-search">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-12 col-md-12 align-content-center">
                                <form action="{:url('index/plant/search')}" method="get">
                                    <div class="form-row">
                                        <div class="form-group col-md-3">
                                            <input type="text" class="form-control my-2 my-lg-1" name="search" id="search" placeholder="Searching">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <select class="w-100 form-control mt-lg-1 mt-md-2" name="mapname" id="mapname">
                                                <option value="">请选择区域</option>
                                                {volist name="map" id="map"}
                                                <option value="{$map->getData('mapname')}">{$map->getData('mapname')}</option>
                                                {/volist}
                                            </select>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <select class="w-100 form-control mt-lg-1 mt-md-2" name="family_id" id="family_id">
                                                <option value="0">请选择科</option>
                                                {volist name="family" id="family"}
                                                <option value="{$family.familyid}">{$family.name}</option>
                                                {/volist}
                                            </select>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <select class="w-100 form-control mt-lg-1 mt-md-2" name="genus_id" id="genus_id">
                                                <option value="0">请选择属</option>
                                                {volist name="genus" id="genus"}
                                                <option value="{$genus.genusid}">{$genus.name}</option>
                                                {/volist}
                                            </select>
                                        </div>
                                        <div class="form-group col-md-2 align-self-center">
                                            <input name="state" id="state" value="search" hidden>
                                            <button type="submit" class="btn btn-primary">搜索</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Container End -->
</section>

<script src="__PUBLIC__/index/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/index/js/jquery.min.js" type="text/javascript"></script>
<script>
    $('#family_id').change(function () {
        $familyid = $('#family_id').val();
        $.ajax({
            type: "POST",
            url: "{:url('index/plant/getGenus')}",
            dataType: "json",
            data: 'familyid=' + $familyid,
            success: function (data) {
                $("#genus_id").empty();
                var count = data.length;
                var i = 0;
                var b = "";
                b += "<option value='0'>请选择属</option>";
                for (i = 0; i < count; i++) {
                    b += "<option value='" + data[i].genusid + "'>" + data[i].name + "</option>";
                }
                $("#genus_id").html(b);
            }
        });
    });
</script>