<section class="bg text-center hero-area overly" id="Searhcing">
    <!-- Container Start -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content-block" id="content-sec3">
                    <h1>校园植物平台</h1>
                    <p class="d-none d-md-block">快捷的植物信息查询  </p>
                    <br>
                </div>

                <!-- Advance Search -->
                <div class="advance-search">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-12 col-md-12 align-content-center">
                                <form action="{:url('index/Plant/test3')}">
                                    <div class="form-row">
                                        <div class="form-group col-md-3">
                                            <input type="text" class="form-control my-2 my-lg-1" name="search" id="search" placeholder="Searching">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <select class="w-100 form-control mt-lg-1 mt-md-2" name="map" id="map">
                                                <option>区域</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <select class="w-100 form-control mt-lg-1 mt-md-2" name="family" id="family">
                                                <option>科</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <select class="w-100 form-control mt-lg-1 mt-md-2" name="genus" id="genus">
                                                <option>属</option>
                                            </select>
                                        </div>
<!--                                        <div class="form-group col-md-2">-->
<!--                                            <select class="w-100 form-control mt-lg-1 mt-md-2">-->
<!--                                                <option>种</option>-->
<!--                                            </select>-->
<!--                                        </div>-->
                                        <div class="form-group col-md-2 align-self-center">
                                            <button type="submit" class="btn btn-primary">搜索</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Container End -->
</section>