<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description"/>
    <meta content="Coderthemes" name="author"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>后台管理</title>
    <!-- App favicon -->
    <link rel="shortcut icon" href="__PUBLIC__/admin/images/favicon.ico">

    <!-- App css -->
    <link href="__PUBLIC__/admin/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="__PUBLIC__/admin/css/icons.min.css" rel="stylesheet" type="text/css"/>
    <link href="__PUBLIC__/admin/css/app.min.css" rel="stylesheet" type="text/css"/>
    <link href="__PUBLIC__/admin/css/style.css" rel="stylesheet" type="text/css"/>
    <script src="__PUBLIC__/admin/js/style.js" type="text/javascript"></script>

</head>

<body>

<div id="wrapper">

    {include file="public/sidemenu"/}

    <div class="content-page">
        <div class="content">

            {include file="public/header"/}

            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="{:url('admin/index/index')}">后台</a></li>
                                    <li class="breadcrumb-item active">账户</li>
                                </ol>
                            </div>
                            <h4 class="page-title">账户</h4>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <form action="changeheadpic" method="post" enctype="multipart/form-data">
                                    <div class="mb-3">
                                        <h3 class="col-sm-2 text-center">我的信息</h3>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="col-sm-2">账 号:</label>
                                                <input type="text" class="my-form col-sm-8"
                                                       placeholder="{$admin->getData('username')}"
                                                       readonly="" name="username" id="username">
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2">密 码:</label>
                                                <input type="password" class="my-form col-sm-8" value="password"
                                                       readonly="" name="password" id="password">
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2">等 级:</label>
                                                <input type="text" class="my-form col-sm-8"
                                                       placeholder="{$admin->getAuthorityLevel($admin->getData('authority'))}"
                                                       readonly="" name="authority" id="authority">
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2">IP:</label>
                                                <input type="text" class="my-form col-sm-8"
                                                       placeholder="{$admin->getData('IP')}"
                                                       readonly="" name="IP" id="IP">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group" align="center">
                                                <img src="__PUBLIC__/uploads/head/{$admin->getData('headpic')}" style="width: 40%;height: 40%" class="mb-4">
                                                <div class="form-group">
                                                    <label class="col-sm-2">头 像:</label>
                                                    <input type="file" name="headimage" class="col-sm-6">
                                                </div>
                                            </div>
                                            <div class="form-group">
<!--                                                <button type="button" class="btn btn-primary ml-4" data-toggle="modal"-->
<!--                                                        data-target="#editnamemodal">修改名称-->
<!--                                                </button>-->
                                                <button type="button" class="btn btn-primary ml-4" data-toggle="modal"
                                                        data-target="#changepwdmodal">修改密码
                                                </button>
                                                <button type="submit" class="btn btn-success ml-4">保存头像</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>


    {include file="public/footer"/}

</div>

<div class="modal fade" id="changepwdmodal" tabindex="-1" role="dialog" aria-labelledby="myPwdModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myPwdModalLabel">修改密码</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body p-4">
                <form role="form" action="changepwd" method="post">
                    <div class="form-group row">
                        <label for="oldpwd" class="col-sm-2">原密码:</label>
                        <input type="password" class="my-form col-sm-10" name="oldpwd" id="oldpwd" placeholder="原密码"
                               required>
                    </div>
                    <div class="form-group row">
                        <label for="newpwd" class="col-sm-2">新密码:</label>
                        <input type="password" class="my-form col-sm-10" name="newpwd" id="newpwd" placeholder="输入新密码"
                               required>
                    </div>
                    <div class="form-group row">
                        <label for="againpwd" class="col-sm-2">再次输入密码:</label>
                        <input type="password" class="my-form col-sm-10" name="againpwd" id="againpwd"
                               placeholder="再次输入密码" required>
                    </div>
                    <div class="text-right">
                        <button type="submit" class="btn btn-success waves-effect waves-light">保存</button>
                        <button type="button" class="btn btn-light" data-dismiss="modal">取消</button>
                    </div>
                </form>
            </div>
        </div><!-- /.model-content -->
    </div><!-- /.model-dialog -->
</div><!-- /.model -->


<!-- App js -->
<script src="__PUBLIC__/admin/js/vendor.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/admin/js/app.min.js" type="text/javascript"></script>

<!-- Plugins js -->
<script src="__PUBLIC__/admin/js/jquery.knob.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/admin/js/jquery.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/admin/js/bootstrap.min.js" type="text/javascript"></script>

</body>

</html>