<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description"/>
    <meta content="Coderthemes" name="author"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>后台管理</title>
    <!-- App favicon -->
    <link rel="shortcut icon" href="__PUBLIC__/admin/images/favicon.ico">

    <link href="__PUBLIC__/admin/css/datatables.bootstrap4.css" rel="stylesheet" type="text/css"/>
    <link href="__PUBLIC__/admin/css/responsive.bootstrap4.css" rel="stylesheet" type="text/css"/>

    <!-- App css -->
    <link href="__PUBLIC__/admin/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="__PUBLIC__/admin/css/icons.min.css" rel="stylesheet" type="text/css"/>
    <link href="__PUBLIC__/admin/css/app.min.css" rel="stylesheet" type="text/css"/>
    <link href="__PUBLIC__/admin/css/style.css" rel="stylesheet" type="text/css"/>
    <script src="__PUBLIC__/admin/js/style.js"></script>

</head>

<body>
<div id="wrapper">

    {include file="Public/sidemenu"/}

    <div class="content-page">
        <div class="content">

            {include file="Public/header"/}

            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="{:url('admin/Index/index')}">后台</a></li>
                                    <li class="breadcrumb-item active">反馈修改</li>
                                </ol>
                            </div>
                            <h4 class="page-title">反馈修改</h4>
                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <form action="saveBug" method="post">
                                    <div class="row mb-3">
                                        <h3 class="col-sm-2 text-center">反馈信息</h3>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="col-sm-3">编 号:</label>
                                                <input type="text" class="my-form col-sm-8" name="bugid"
                                                       value="{$bug->getData('bugid')}" readonly="">
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3">主 题:</label>
                                                <input type="text" class="my-form col-sm-8"
                                                       placeholder="{$bug->getData('title')}" readonly="">
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3">类 型:</label>
                                                <input type="text" class="my-form col-sm-8"
                                                       placeholder="{$bug->getData('type')}" readonly="">
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3">提交 IP:</label>
                                                <input type="text" class="my-form col-sm-8"
                                                       placeholder="{$bug->getData('IP')}" readonly="">
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3">提交时间:</label>
                                                <input type="text" class="my-form col-sm-8"
                                                       placeholder="{$bug->getData('stime')}" readonly="">
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3">解决时间:</label>
                                                <input type="text" class="my-form col-sm-8"
                                                       placeholder="{$bug->getData('ftime')}" readonly="">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="col-sm-3">图 片:</label>
                                                <img src="__PUBLIC__/uploads/bug/{$bug->getData('pic')}" class="ml-3" style="width: 50%">
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-3 ml-2">内 容:</label>
                                                <div class="col-sm-8">
                                                    <textarea class="my-form" rows="5" readonly>{$bug->getData('content')}</textarea>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3">状 态:</label>
                                                <select class="custom-select col-sm-7 ml-2" name="state">
                                                    <option selected>{$state=$bug->getData('state')}</option>
                                                    <option>{$state=='已解决'?'未解决':'已解决'}</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-success btn-block col-sm-6 ml-5">保存</button>
                                            </div>

                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div> <!-- content -->

    <!-- Footer Start -->
    {include file="Public/footer"/}

</div>

</div>

<!-- App js -->
<script src="__PUBLIC__/admin/js/vendor.min.js"></script>
<script src="__PUBLIC__/admin/js/app.min.js"></script>

<!-- third party js -->
<script src="__PUBLIC__/admin/js/jquery.datatables.js"></script>
<script src="__PUBLIC__/admin/js/datatables.bootstrap4.js"></script>
<script src="__PUBLIC__/admin/js/datatables.responsive.min.js"></script>
<script src="__PUBLIC__/admin/js/responsive.bootstrap4.min.js"></script>

<script src="__PUBLIC__/admin/js/datatables.buttons.min.js"></script>
<script src="__PUBLIC__/admin/js/buttons.bootstrap4.min.js"></script>
<script src="__PUBLIC__/admin/js/buttons.html5.min.js"></script>
<script src="__PUBLIC__/admin/js/buttons.flash.min.js"></script>
<script src="__PUBLIC__/admin/js/buttons.print.min.js"></script>
<script src="__PUBLIC__/admin/js/datatables.keytable.min.js"></script>
<script src="__PUBLIC__/admin/js/datatables.select.min.js"></script>
<!-- third party js ends -->
</body>