<!DOCTYPE html>
<html lang="en">

<!-- source http://www.scnoob.com More templates http://www.scnoob.com/moban -->
<head>
    <meta charset="utf-8"/>
    <title>Simulor - Responsive Admin Dashboard Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description"/>
    <meta content="Coderthemes" name="author"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- App favicon -->
    <link rel="shortcut icon" href="__PUBLIC__/admin/images/favicon.ico">

    <!-- App css -->
    <link href="__PUBLIC__/admin/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="__PUBLIC__/admin/css/icons.min.css" rel="stylesheet" type="text/css"/>
    <link href="__PUBLIC__/admin/css/app.min.css" rel="stylesheet" type="text/css"/>
    <link href="__PUBLIC__/admin/css/style.css" rel="stylesheet" type="text/css"/>
    <script src="__PUBLIC__/admin/js/echarts.min.js"></script>
    <script src="__PUBLIC__/admin/js/style.js"></script>
</head>

<body>

<div id="wrapper">

    {include file="Public/sidemenu"/}

    <div class="content-page">
        <div class="content">

            {include file="Public/header"/}

            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="{:url('admin/Index/index')}">后台</a></li>
                                    <li class="breadcrumb-item active">数据分析</li>
                                </ol>
                            </div>
                            <h4 class="page-title">数据分析</h4>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <div id="mapnum" style="width: 100%;height: 400px"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <div id="bugnum" style="width: 100%;height: 400px"></div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <div id="familynum" style="width: 100%;height: 400px"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>

        {include file="Public/footer"/}

    </div>

</div>

<!-- App js -->
<script src="__PUBLIC__/admin/js/vendor.min.js"></script>
<script src="__PUBLIC__/admin/js/app.min.js"></script>

<!-- Plugins js -->
<!--<script src="__PUBLIC__/admin/js/chart-data.js"></script>-->
<script>

    /**
     * 区域植物数量
     * @type {Array}
     */
    var map=[],mapnumber=[];
    function Mapnum(){
        $.ajax({
            type:"post",
            async:false,
            url:"{:url('admin/Chart/mapnum')}",
            data:{},
            dataType:"json",
            success:function(result){
                if (result) {
                    for (var i = 0; i < result.length; i++) {
                        map.push(result[i].mapname);
                        mapnumber.push(result[i].number);
                    }
                }
            }
        })
        return map,mapnumber;
    }
    Mapnum();

    // 初始化图表标签
    var myChart1 = echarts.init(document.getElementById('mapnum'));
    var options1={
        title:{
            text: '植物数量',
            x:'left',
            textStyle:{
                color:['#98a6ad']
            }
        },
        tooltip:{},
        xAxis: {
            type: 'category',
            data: map,
            axisLabel:{
                rotate:-30
            }
        },
        yAxis: {
            type: 'value'
        },
        series: [{
            data: mapnumber,
            type: 'bar'
        }]
    };
    myChart1.clear();
    myChart1.setOption(options1);

    /**
     * 科对应植物数量饼状图
     * @type {Array}
     */
    var family=[],familynumber=[];
    function Familynum(){
        $.ajax({
            type:"post",
            async:false,
            url:"{:url('admin/Chart/familynum')}",
            data:{},
            dataType:"json",
            success:function(result){
                if (result) {
                    for (var i = 0; i < result.length; i++) {
                        family.push(result[i].familyname);
                        familynumber.push({
                            value:result[i].number,
                            name:result[i].familyname,
                        });
                    }
                }
            }
        })
        return family,familynumber;
    }
    Familynum();

    var myChart2 = echarts.init(document.getElementById('familynum'));
    var options2={
        //定义一个标题
        title:{
            text: '科-属数量',
            x:'center',
            textStyle:{
                color:['#98a6ad']
            }
        },
        tooltip : {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        legend:{
            orient: 'vertical',
            left: 'left',
            data: family,
            textStyle:{
                color:['#98a6ad']
            }
        },
        //name=legend.data的时候才能显示图例
        series:[{
            name: '属数量',
            type: 'pie',
            radius : '55%',
            center: ['50%', '60%'],
            data: familynumber,
            itemStyle: {
                emphasis: {
                    shadowBlur: 10,
                    shadowOffsetX: 0,
                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
            }
        }]
    };
    myChart2.clear();
    myChart2.setOption(options2);

    var bugstate=[],statenum=[];
    function Bugnum(){
        $.ajax({
            type:"post",
            async:false,
            url:"{:url('admin/Chart/bugnum')}",
            data:{},
            dataType:"json",
            success:function(result){
                if (result) {
                    for (var i = 0; i < result.length; i++) {
                        bugstate.push(result[i].state);
                        statenum.push({
                            value:result[i].number,
                            name:result[i].state,
                        });
                    }
                }
            }
        })
        return bugstate,statenum;
    }
    Bugnum();

    var myChart3 = echarts.init(document.getElementById('bugnum'));
    var options3={
//定义一个标题
        title:{
            text: '反馈状态',
            x:'center',
            textStyle:{
                color:['#98a6ad']
            }
        },
        tooltip : {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        legend:{
            orient: 'vertical',
            left: 'left',
            data: bugstate,
            textStyle:{
                color:['#98a6ad']
            }
        },
        color:['#2b821d', '#e6b600'],
        //name=legend.data的时候才能显示图例
        series:[{
            name: '反馈状态',
            type: 'pie',
            radius : '55%',
            center: ['50%', '60%'],
            data: statenum,
            itemStyle: {
                emphasis: {
                    shadowBlur: 10,
                    shadowOffsetX: 0,
                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
            }
        }]
    };
    myChart3.clear();
    myChart3.setOption(options3);

    window.onresize=function() {
        myChart1.resize();
        myChart2.resize();
    }
</script>

</body>
</html>